<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Support Client 3WA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if app.session.get("nav")=='home' %}active{% endif %}">
        <a class="nav-link" href="{{ path('hom') }}">Home</a>
      </li>
      {% if app.user is null %}
      <li class="nav-item {% if app.session.get("nav")=='logup' %}active{% endif %}">
        <a class="nav-link" href="{{ path('registerpage') }}">Logup</a>
      </li>
      <li class="nav-item {% if app.session.get("nav")=='login' %}active{% endif %}">
        <a class="nav-link" href="{{ path('connexionpage') }}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}
      {% if app.user != null %}
      <li class="nav-item dropdown {% if app.session.get("nav")=='ft' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fonctionnalités
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if 'ROLE_ADMIN' in app.user.roles %}
            <a class="dropdown-item" href="{{ path('listeusers') }}">Tous les users</a>
            <a class="dropdown-item" href="{{ path('createuser') }}">Créer un user</a>
            <a class="dropdown-item" href="{{ path('listclients') }}">Tous les clients</a>
            <a class="dropdown-item" href="{{ path('createcustomer') }}">Créer un client</a>
             <a class="dropdown-item" href="{{ path('allservices') }}">Tous les services</a>
            <a class="dropdown-item" href="{{ path('createservice') }}">Créer un service</a>
            <a class="dropdown-item" href="{{ path('adminalltickets') }}">Tous les tickets</a>
          {% endif %}
          {% if is_granted('ROLE_CUSTOMER_ADMIN') %}
          <a class="dropdown-item" href="{{ path('listmysubregisters') }}">Tous les sous-comptes</a>
            <a class="dropdown-item" href="{{ path('createsouscompte') }}">Créer un sous-compte</a>
          {% endif %}
          {% if is_granted('ROLE_CUSTOMER') or is_granted('ROLE_CUSTOMER_ADMIN') %}
           <a class="dropdown-item" href="{{ path('alltickets') }}">Tous les tickets</a>
            <a class="dropdown-item" href="{{ path('createticket') }}">Créer un ticket</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Bonjour {{ app.user.firstname }}</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ path('moteurrecherche') }}" method="post">
      <input class="form-control mr-sm-2" type="search" id="recherche" name="recherche" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>